{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Create Announcement!</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control", placeholder="Announcement title") }}
        </div>
        <div class="mb-3">
            {{ form.message.label(class="form-label") }}
            {{ form.message(class="form-control", rows=5, placeholder="Write your announcement...") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}